<div class="ui large top fixed borderless hidden menu">
    <div class="ui container">
        <a class="header item" href="{{ '/' | relative_url }}">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ site.logo_dark }}" alt="Logo">
            </div>
            <div class="logo-text">{{ site.alias_en }}</div>
        </a>
        {% include menu_items.html %}
        <div class="right menu">
            <a class="item" href="mailto:mail@ff14.cafe?subject=背水咖啡厅问题反馈&body=如果您有任何使用上的问题或收录建议，请通过邮件提供。" target="_blank"><i class="envelope icon"></i>邮件反馈&提交收录</a>
        </div>
    </div>
</div>
