/* masthead.css */

.ui.inverted.masthead.segment.zoomed h1.ui.header,
.ui.inverted.masthead.segment.zoomed h2.ui.header {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
.ui.inverted.masthead.segment.zoomed:after {
    opacity: 0;
}
.ui.inverted.masthead.segment.zoomed {
    background-color: #1B1C1D;
}
.ui.inverted.masthead.segment {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #1B1C1D;
    background-position: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ui.inverted.masthead.segment:after {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    opacity: 0.45;
}
.ui.inverted.masthead.segment.bg1:after {
    background-image: url('/images/backgrounds/-nowloading_base_hr1.png');
}
.ui.inverted.masthead.segment.bg2:after {
    background-image: url('/images/backgrounds/-nowloading_base01_hr1.png');
}
.ui.inverted.masthead.segment.bg3:after {
    background-image: url('/images/backgrounds/-nowloading_base02_hr1.png');
}
.ui.inverted.masthead.segment.bg4:after {
    background-image: url('/images/backgrounds/-nowloading_base03_hr1.png');
}
.ui.inverted.masthead.segment.bg5:after {
    background-image: url('/images/backgrounds/-nowloading_base04_hr1.png');
}
.ui.inverted.masthead.segment.bg6:after {
    background-image: url('/images/backgrounds/-nowloading_base05_hr1.png');
}
.ui.inverted.masthead.segment.bg7:after {
    background-image: url('/images/backgrounds/-nowloading_base06_hr1.png');
}
.ui.inverted.masthead.segment.bg8:after {
    background-image: url('/images/backgrounds/-nowloading_base07_hr1.png');
}
.ui.inverted.masthead.segment.bg9:after {
    background-image: url('/images/backgrounds/-nowloading_base08_hr1.png');
}
.ui.inverted.masthead.segment.bg10:after {
    background-image: url('/images/backgrounds/-nowloading_base09_hr1.png');
}
.ui.inverted.masthead.segment.bg11:after {
    background-image: url('/images/backgrounds/-nowloading_base10_hr1.png');
}
.ui.inverted.masthead.segment.bg12:after {
    background-image: url('/images/backgrounds/-nowloading_base11_hr1.png');
}
.ui.inverted.masthead.segment.bg13:after {
    background-image: url('/images/backgrounds/-nowloading_base12_hr1.png');
}
.ui.inverted.masthead.segment.bg14:after {
    background-image: url('/images/backgrounds/-nowloading_base13_hr1.png');
}
.ui.inverted.masthead.segment.bg15:after {
    background-image: url('/images/backgrounds/-nowloading_base14_hr1.png');
}
.ui.inverted.masthead.segment.bg16:after {
    background-image: url('/images/backgrounds/-nowloading_base15_hr1.png');
}
.ui.inverted.masthead.segment.bg17:after {
    background-image: url('/images/backgrounds/-nowloading_base16_hr1.png');
}
.ui.inverted.masthead.segment.bg18:after {
    background-image: url('/images/backgrounds/-nowloading_base17_hr1.png');
}
.ui.inverted.masthead.segment.bg19:after {
    background-image: url('/images/backgrounds/-nowloading_base18_hr1.png');
}
.ui.inverted.masthead.segment.bg20:after {
    background-image: url('/images/backgrounds/-nowloading_base19_hr1.png');
}
.ui.inverted.masthead.segment.bg21:after {
    background-image: url('/images/backgrounds/-nowloading_base20_hr1.png');
}
.ui.inverted.masthead.segment.bg22:after {
    background-image: url('/images/backgrounds/-nowloading_base21_hr1.png');
}
.ui.inverted.masthead.segment.bg23:after {
    background-image: url('/images/backgrounds/-nowloading_base22_hr1.png');
}
.ui.inverted.masthead.segment.bg24:after {
    background-image: url('/images/backgrounds/-nowloading_base23_hr1.png');
}
.ui.inverted.masthead.segment.bg25:after {
    background-image: url('/images/backgrounds/-nowloading_base24_hr1.png');
}
.ui.inverted.masthead.segment.bg26:after {
    background-image: url('/images/backgrounds/-nowloading_base25_hr1.png');
}
.ui.inverted.masthead.segment.bg27:after {
    background-image: url('/images/backgrounds/-nowloading_base26_hr1.png');
}
.ui.inverted.masthead.segment.bg28:after {
    background-image: url('/images/backgrounds/-nowloading_base27_hr1.png');
}
.ui.inverted.masthead.segment,
.ui.inverted.masthead.segment:after {
    -ms-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -ms-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
}
.pusher .ui.inverted.menu {
    background: none;
}
.ui.masthead h1.ui.header:not(.logo) {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ui.masthead h2.ui.header {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
